.phase-VA,
.phase-PFkVA {
    display: flex;
    justify-content: center;
    width: 100%;

    flex-basis: 50%;
    flex-wrap: wrap;

    font-size: 15vh;
}

.phase-VA>.voltage,
.phase-VA>.amperage,
.phase-PFkVA>.pf,
.phase-PFkVA>.kva {
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
}

.phase-VA .value,
.phase-PFkVA .value {
    margin-right: 0.15em;
    font-weight: bold;

    display: inline;
    text-align: right;
    flex-basis: 60%;
}

.phase-VA .denominator,
.phase-PFkVA .denominator {
    font-size: 75%;
    /* Solves vertical offset between different font sizes */
    padding-bottom: 0.1em;

    display: inline;
    flex-basis: 30%;
}