/* Parent container */
/* Fills remaining space after menu */
.pageParent {
    display: flex;

    justify-content: space-around;
    flex-grow: 1;
}

.pageCol {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pageRow {
    display: flex;
    align-items: end;
}

.pageBasic {
    font-size: 19vh;
}

.pageHome {
    font-size: 15vh;
}

.pageConfig {
    font-size: 28vh;
    color: white;
    text-decoration: none;
}

.pageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.fontLarge {
    font-size: 28vh
}

.fontSmall {
    font-size: 15vh
}

.denomin {
    align-items: baseline;
    flex-grow: 0.1 !important;
}

.denominator {
    font-size: 50%;
    margin-right: 0.4em;
}

.val {
    align-items: end;
    flex-grow: 0.5 !important;
}

.denomin>.pageRow>span {
    font-size: 50%;

    /* Fix offset from value */
    padding-top: 0.8em;
}

/* Indicators */
.circle {
    height: 0.6em;
    width: 0.6em;
    border-radius: 50%;
    display: inline-block;
}

/* Indicator colours */
.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

/* Phase colours */
.l1 {
    color: var(--l1-color) !important;
}

.l2 {
    color: var(--l2-color) !important;
}

.l3 {
    color: var(--l3-color) !important;
}

.pageRow2 {
    display: flex;

    flex-grow: 1;

    font-size: 15vh;
    align-items: center;
}

.pageCol1 {
    flex-grow: 1;
}

.pageCol4 {
    width: 80%;

    display: flex;
    align-items: center;
}

.roundedBox {
    font-size: 50%;
    display: inline-block;
    color: black;
    background-color: grey;
    border-radius: 0.2em;
    text-align: center;
    margin: 0 0.2em;
    min-width: 2em;
}

.roundedBox .selected {
    background-color: lightgrey;
}

.pageChartMenu {
    display: flex;

    flex-grow: 1;

    font-size: 12vh;
    align-items: center;
    justify-content: center;
}



/* CONFIG */
.configRow {
    display: flex;
    justify-content: space-around;
    width: 100%;

    font-size: 2.5em;
    color: white;
}

.configItem {
    width: 40%;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}