.status {
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 6vh;

    border-bottom: 1px solid var(--accent-color);

    transition: background .2s;
}

.status:hover {
    background: var(--accent-color);
}

.status select {
    font-size: 0.8em;
    background: none;
    color: var(--text-colour);
    border: none;
}

.status-heading {
    height: 100%;
    width: 5em;
    margin: 0 auto;
}

.status-left,
.status-centre,
.status-right {
    flex-basis: 30%;

}

.status-left {
    display: flex;
    justify-content: left;
}

.status-centre {
    display: flex;
    justify-content: center;
}

.status-right {
    display: flex;
    justify-content: right;
}

.status .icon {
    cursor: pointer;
}

.dot {
    height: 2vh;
    width: 0.3vw;
    /* border-radius: 50%; */
    display: inline-block;
}

.connected {
    border-top: 2.5px solid green;
}

.disconnected {
    border-top: 2.5px solid red;
}