.footer {
    position: sticky;
    top: 100vh;

    font-size: 9vh !important;
    font-style: italic;
    font-weight: 600;
}

.gridBasic .circle {
    height: 0.48em;
    width: 0.48em;
    border-radius: 50%;
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 12vh;
    height: 15%;
}

.menu a,
.menu button {
    /* Center align svg icons */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    text-align: center;
    border-top: 3px solid #aa003300;
    color: var(--text-colour);
    background: none;

    text-decoration: none;

}

.menu a:hover,
.menu button:hover {
    background: #ffffff22;
    cursor: pointer;
}

.menu a.selected,
.menu button.selected {
    color: var(--text-colour-selected);
}

.selected {
    color: var(--text-colour-selected) !important;
}

.menu button {
    border-left: none;
    border-right: none;
    border-bottom: none;
}