.gridChannel .circle {
    height: 0.3em;
    width: 0.3em;
    border-radius: 50%;
    display: inline-block;
}

.gridChannel {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 65%;
    /* gap: 10px; */
    font-size: 26vh;
}

.span-eleven-channel {
    grid-column: span 12;
    /* padding-left: 1em; */
    width: 100%;
    text-align: right;
    margin-right: 0.5em;

    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.span-ten-channel {
    grid-column: span 10;
    /* padding-left: 1em; */
    width: 100%;
    text-align: right;
    margin-right: 0.5em;
}

.span-nine-channel {
    grid-column: span 8;
    /* padding-left: 1em; */
    width: 100%;
    text-align: right;
    margin-right: 0.2em;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: right;
}

.span-six-channel {
    grid-column: span 6;
    /* padding-left: 1em; */
}

.span-four-channel {
    grid-column: span 4;
}

.span-three-channel {
    grid-column: span 6;
    padding-right: 0.3em;
}

.span-two-channel {
    grid-column: span 4;
}

.span-eleven-channel .circle {
    align-self: center;
}

.valueChannel {
    display: inline-block;
    /* width: 2.6em; */
    text-align: right;
    font-weight: bold;
    font-size: 0.4em;
}

.valueChannelAmperage {
    display: inline-block;
    /* width: 1.3em; */
    text-align: right;
    font-weight: bold;
}

.unitChannel {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.4em;
    font-weight: bold;
    margin-right: 0.2em;
}