.gridBasic {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 68%;
    /* gap: 10px; */
    font-size: 20vh;
}


.span-five-basic {
    height: 1em;
    grid-column: span 10;
    padding-left: 1em;
}

.span-four-basic {
    height: 1em;
    grid-column: span 8;
}

.span-three-basic {
    height: 1em;
    grid-column: span 6;
    padding-right: 0.3em;
}

.span-two-basic {
    height: 1em;
    grid-column: span 4;
}

.valueBasic {
    display: inline-block;
    /* width: 2.6em; */
    text-align: right;
    font-weight: bold;
}

.valueBasicAmperage {
    display: inline-block;
    width: 1.3em;
    text-align: right;
    font-weight: bold;
}

.unitBasic {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}