.chart-container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chart-title {
    text-align: center;
    width: 100%;

    font-size: 2em
}

.chart-value {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.chart-item {
    width: 20vh;
    text-align: center;
}

.chart-selected {
    color: white;
}

.chart-not-selected {
    color: var(--text-colour);
}