.gridAdv {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 70%;
    /* gap: 10px; */
    font-size: 14vh;
}

.span-ten-adv {
    grid-column: span 10;
    /* padding-left: 1em; */
    width: 100%;
    text-align: right;
    margin-right: 0.5em;
}

.span-seven-adv {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column: span 7;
    align-items: end;
}

.span-six-adv {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column: span 6;
    align-items: end;
}

.span-five-adv {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column: span 5;
    align-items: end;
}

.span-four-adv {
    grid-column: span 4;
}

.span-three-adv {
    grid-column: span 6;
    padding-right: 0.3em;
}

.span-two-adv {
    grid-column: span 4;
}

.valueAdv {
    display: inline-block;
    /* width: 2.6em; */
    text-align: right;
    font-weight: bold;
}

.valueAdvAmperage {
    display: inline-block;
    /* width: 1.3em; */
    text-align: right;
    font-weight: bold;
}

.unitAdv {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}