.gridDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 70%;
    /* gap: 10px; */
    font-size: 16vh;
}

.span-ten-display {
    grid-column: span 10;
    /* padding-left: 1em; */
    width: 100%;
    text-align: right;
    margin-right: 0.5em;
}

.span-six-display {
    grid-column: span 6;
    /* padding-left: 1em; */
}

.span-four-display {
    grid-column: span 4;
    width: 90%;
}

.span-three-display {
    grid-column: span 6;
    padding-right: 0.3em;
}

.span-two-display {
    grid-column: span 4;
}

.span-four-display {
    grid-column: span 4;
}

.gridDisplay .displaySlider {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.gridDisplay .displaySwitch {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.span-one-display {
    grid-column: span 1;
}

.valueDisplay {
    display: inline-block;
    /* width: 2.6em; */
    text-align: right;
    font-weight: bold;
}

.valueDisplayAmperage {
    display: inline-block;
    /* width: 1.3em; */
    text-align: right;
    font-weight: bold;
}

.unitDisplay {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}

.gridDisplay svg {
    padding-top: 0.1em;
    font-size: 1.3em;
}

.gridDisplay input {
    background-color: #00000000;
    text-decoration: none;
    font-size: 3.5em;
    width: 85%;
    color: white;
    border: none;
    border-bottom: 2px grey solid
}

.period-buttons {
    display: flex;
    flex-direction: row;

    font-size: 0.6em;
}

.period-button {
    border: 0.1em var(--text-colour) solid;
    border-radius: 0.3em;
    background-color: var(--text-colour);
    color: black;
    width: 1.5em;
    text-align: center;
}

/* SLIDER */
/* The switch - the box around the slider */
.gridDisplay .switch {
    position: relative;
    display: inline-block;
    width: 1.73em;
    height: 0.73em;
}

/* Hide default HTML checkbox */
.gridDisplay .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.gridDisplay .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;

    background-color: rgba(0, 0, 0, 0);
    border: 0.06em var(--text-colour) solid;
    color: var(--text-colour);
}

.gridDisplay .slider:before {
    position: absolute;
    content: "";
    height: 0.5em;
    width: 0.5em;
    left: 0.06em;
    bottom: 0.06em;
    background-color: var(--text-colour);
    -webkit-transition: .4s;
    transition: .4s;
}

.gridDisplay input:checked+.slider {
    background-color: rgba(0, 0, 0, 0);
    border: 0.06em var(--text-colour) solid;
    color: var(--text-colour);
}

.gridDisplay input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.gridDisplay input:checked+.slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
    background-color: white;
}

/* Rounded sliders */
.gridDisplay .slider.round {
    border-radius: 0.5em;
}

.gridDisplay .slider.round:before {
    border-radius: 50%;
}

.gridDisplay .switch-on {
    display: none;
}

.gridDisplay .switch-on {
    color: white;
    position: absolute;
    transform: translate(-110%, -50%);
    top: 50%;
    left: 50%;
    font-size: 0.35em;
    color: var(--text-colour);
    font-style: italic;
}

.gridDisplay .switch-off {
    color: white;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 50%;
    font-size: 0.35em;
    color: var(--text-colour);
    font-style: italic;
}

.gridDisplay input:checked+.slider .switch-on {
    display: block;
}

.gridDisplay input:checked+.slider .switch-off {
    display: none;
}

/* RANGE SLIDER */
.gridDisplay input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 3vh;
    background-color: var(--text-colour);
    border-radius: 3vh;
    border: none;
    outline: none;
}

.gridDisplay input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6vh;
    height: 6vh;
    background-color: black;
    border: var(--text-colour) 1vh solid;
    border-radius: 50%;
    cursor: pointer;
}

.gridDisplay .range-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}