/* Parent container */
/* Fills remaining space after menu */
.pageParent {
    display: flex;

    justify-content: space-around;
    flex-grow: 1;

    /* Prevents scrollbars from appearing */
    margin: 0;
    overflow: hidden;
}

.pageCol {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pageRow {
    display: flex;
    align-items: flex-end;
    height: 1em;
}

.pageBasic {
    font-size: 19vh;
}

.pageHome {
    font-size: 15vh;
}

.pageConfig {
    font-size: 28vh;
    color: white;
    text-decoration: none;
}

.pageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.fontLarge {
    font-size: 26vh
}

.fontSmall {
    font-size: 15vh
}

.denomin {
    align-items: baseline;
    flex-basis: 0px;
}

.denominator {
    font-size: 50%;
    margin-right: 0.4em;
}

.val {
    align-items: end;
}

.val-voltage {
    align-items: end;
    flex-basis: 8%;
}

.val-voltage-channel {
    align-items: end;
    flex-basis: 45%;
}

.val-amperage {
    align-items: end;
    /* flex-basis: 15%; */
    width: 0.3em;
}

.val-other {
    align-items: end;
    flex-basis: 6%;
}

.val-other-channel {
    align-items: end;
    flex-basis: 12%;
}

.denomin>.pageRow>span {
    font-size: 50%;

    /* Fix offset from value */
    padding-bottom: 0.15em;
}

/* Indicators */
.circle {
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    display: inline-block;
}

/* Indicator colours */
.green {
    background-color: rgba(0, 166, 81, 255);
}

.orange {
    background-color: rgba(247, 148, 29, 255);
}

.red {
    background-color: rgba(238, 29, 37, 255);
}

/* Phase colours */
.l1 {
    color: var(--l1-color);
}

.l2 {
    color: var(--l2-color);
}

.l3 {
    color: var(--l3-color);
}

.pageRow2 {
    display: flex;

    flex-grow: 1;

    font-size: 15vh;
    align-items: center;
}

.pageCol1 {
    flex-grow: 1;
}

.pageCol4 {
    width: 80%;

    display: flex;
    align-items: center;
}

.datePicker {
    text-align: center;
    background-color: none;
    font-size: 12vh;
}

.datePicker input {
    background: gray;
    border: none;
    font-size: 0.5em;
    margin-left: 0.5em;
}

.roundedBox {
    font-size: 50%;
    display: inline-block;
    background-color: grey;
    border-radius: 0.2em;
    text-align: center;
    margin: 0 0.1em;
    min-width: 2em;

    cursor: pointer;
}

.roundedBox .selected {
    background-color: lightgrey;
}

.yellow {
    background-color: yellow !important;
}

.purple {
    background-color: purple !important;
}

.orange {
    background-color: orange !important;
}

.pageChartMenu {
    display: flex;

    flex-grow: 1;

    font-size: 12vh;
    align-items: center;
    justify-content: center;
}



/* CONFIG */
.configRow {
    display: flex;
    justify-content: space-around;
    width: 100%;

    font-size: 2.5em;
    color: white;
}

.configItem {
    width: 40%;
}


.grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 10vh;
    height: 82%;
    align-items: center;
}

.span-two {
    grid-column: span 2;
}

.value {
    display: inline-block;
    width: 2em;
    /* adjust this width according to your needs */
    text-align: right;
}

.valueAmperage {
    display: inline-block;
    width: 1.2em;
    /* adjust this width according to your needs */
    text-align: right;
}

.cellAmperage {
    padding-right: 0.4em;
}

.unit {
    display: inline-block;
    font-size: 0.5em;
    font-weight: 600;
}

.homeIcon svg {
    padding-top: 0.1em;
    font-size: 1.5em;
}

.homeStatus {
    padding-bottom: 0.1em;
}

.homeCircle {
    padding-bottom: 0em;
}