.gridNetwork {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    height: 82%;
    /* gap: 10px; */
    font-size: 8vh;

    color: white;
    font-style: italic;
}

.span-ten-network {
    grid-column: span 10;
    width: 100%;
    text-align: right;
    margin-right: 0.5em;
}

.span-six-network {
    grid-column: span 6;
}

.span-four-network {
    grid-column: span 4;
    width: 90%;
}

.network-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.span-three-network {
    grid-column: span 3;
    padding-right: 0.3em;
}

.span-two-network {
    grid-column: span 2;
    width: 90%;
}

.displaySlider {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.displaySwitch {
    width: 100%;
    display: flex;
    align-items: center;
}

.span-one-network {
    grid-column: span 1;
}

.valueNetwork {
    display: inline-block;
    /* width: 2.6em; */
    text-align: right;
    font-weight: bold;
}

.valueNetworkAmperage {
    display: inline-block;
    /* width: 1.3em; */
    text-align: right;
    font-weight: bold;
}

.unitNetwork {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bold;
}

.gridNetwork svg {
    padding-top: 0.1em;
    font-size: 1.3em;
}

/* SLIDER */
/* The switch - the box around the slider */
.gridNetwork .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

/* Hide default HTML checkbox */
.gridNetwork .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.gridNetwork .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .1s;
    transition: .1s;

    background-color: rgba(0, 0, 0, 0);
    border: 0.2em var(--text-colour) solid;
    color: var(--text-colour);
}

.gridNetwork .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.07em;
    bottom: 0.07em;
    background-color: var(--text-colour);
    -webkit-transition: .1s;
    transition: .1s;
}

.gridNetwork input:checked+.slider {
    background-color: rgba(0, 0, 0, 0);
    border: 0.2em var(--text-colour) solid;
    color: var(--text-colour);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.gridNetwork input:checked+.slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
    background-color: white;
}

/* Rounded sliders */
.gridNetwork .slider.round {
    border-radius: 1em;
}

.gridNetwork .slider.round:before {
    border-radius: 50%;
}

.gridNetwork .switch-on {
    display: none;
}

.gridNetwork .switch-on,
.switch-off {
    position: absolute;
    top: 50%;

    font-size: 0.7em;
    color: var(--text-colour);
    font-style: italic;
}

.gridNetwork .switch-on {
    left: 50%;
    transform: translate(-110%, -50%);
}

.gridNetwork .switch-off {
    left: 45%;
    transform: translate(0%, -50%);
}

.gridNetwork input:checked+.slider .switch-on {
    display: block;
}

.gridNetwork input:checked+.slider .switch-off {
    display: none;
}

/* RANGE SLIDER */
.gridNetwork input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 3vh;
    background-color: var(--text-colour);
    border-radius: 3vh;
    border: none;
    outline: none;
}

.gridNetwork input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6vh;
    height: 6vh;
    background-color: black;
    border: var(--text-colour) 1vh solid;
    border-radius: 50%;
    cursor: pointer;
}

.gridNetwork .range-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TEXT INPUT */
.gridNetwork input {
    background-color: #00000000;
    text-decoration: none;
    width: 100%;
    color: white;
    border: none;
    font-size: 1em;
    border-bottom: 2px grey solid
}

.gridNetwork input:disabled {
    color: var(--text-colour)
}

.network-disabled {
    color: grey;
}

.network-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    font-size: 1.5em;
}

.network-accept {
    font-size: 0.65em;
    background: grey;
    border-radius: 0.5em;
    width: 100%;
}