.chart-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.3em;
    font-size: 1.6em;
    color: black;
    font-weight: bold;
    height: 12%;

    position: absolute;
    top: 87vh;
    left: 2vw;
}

.chart-button {
    border: 0.1em var(--text-colour) solid;
    border-radius: 0.3em;
    background-color: var(--text-colour);
    width: 12vh;
    text-align: center;

    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-button>svg {
    font-size: 10vh
}